@import "./../styles/breakpoints.scss";

.linkBtn {
    width: 310px;
    height: 78px;
    border: 1px solid #1F343E;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    @include mobile {
        width: calc(100% - 66px);
    }

    img {
        height: 60px;
        margin-left: 24px;
        margin-bottom: 8px;
    }

    div {
        display: flex;
        flex-direction: column;

        .textA {
            font-size: 16px;
        }

        .textB {
            //font-family: gadugi; //Gadugi font is not free, will use default instead
            font-weight: 500;
        }
    }
}

.linkBtn {
    cursor: pointer;
}