@import "./../styles/breakpoints.scss";

.emailForm {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    font-family: "Noto Sans", sans-serif;

    .errMsgLa {
        font-size: 12px;
        color: #ED6F82;
    }

    .customInput {
        margin-top: 7px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #1F343E;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 20px;
        gap: 20px;
        background-color: #FFFFFF;

        @include mobile {
            padding: 18px;
        }

        img {
            height: 20px;
        }

        input {
            width: 100%;
            font-size: 20px;
            font-family: "Noto Sans", sans-serif;
            border: none;
            outline: none;
            color: #6D7A80;

            @include mobile {
                font-size: 16px;
            }
        }
    }

    button {
        margin-top: 16px;
        background-color: #4EB3E3;
        border: 1px solid #1F343E;
        color: #FFFFFF;
        border-radius: 8px;
        font-size: 20px;
        padding: 20px 0;
        font-weight: 600;
        cursor: pointer;

        @include mobile {
            font-size: 16px;
        }
    }
}

.referalLink {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;

    .confLabel {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        font-size: 16px;
        font-weight: 700;
    }

    .copyInput {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid #1F343E;
        border-radius: 8px;
        gap: 18px;
        overflow: hidden;
        width: 100%;
        background-color: #FFFFFF;

        input {
            flex: 1;
            font-size: 20px;
            font-family: "Noto Sans", sans-serif;
            border: none;
            outline: none;
            color: #6D7A80;
            margin: 20px 0 17px 20px;
            width: calc(100% - 100px);
        }

        button {
            height: 100%;
            width: 96px;
            background-color: #4EB3E3;
            border: none;
            border-left: 1px solid #1F343E;
            font-size: 20px;
            font-family: "Noto Sans", sans-serif;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}