.header {
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #1F343E;

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 1120px;
        height: 100%;

        img {
            height: 32px;
        }

        ul {
            display: flex;
            flex-direction: row;
            gap: 27px;
            list-style-type: none;
            padding: 0 16px;

            li {
              
                a {
                    color: #434A54;
                    text-decoration: none;
                    font-family: "Noto Sans", sans-serif;
                    font-size: 20px;
                }

                a:hover {
                    color: #4EB3E3;
                }
            }
        }
    }
}